# Powered by Site.pro
DirectoryIndex index.php index.cgi index.html
RewriteEngine On
#### PERSISTENT CONTENT ####
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ sitepro/$1 [L,QSA]

